/***********************Generelt startt*******************/

body {
    width: 375;
    height: 667px;
    border: 0vw;
}

/***********************Generelt slut*******************/

/*********************Index start*********************/
/*********************Index slut*********************/

/***********************Home start*******************/
/***********************Home slut*******************/

/***********************Menu start*******************/
/***********************Menu slut*******************/


/***********************Skema start*******************/

.container {
    background-color: #223249;
    width: 375;
    height: 667px;

}

.coulm_top {
    background-image: url(skema.png);
    background-repeat: no-repeat;
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 12vw;
    left: 4vw;
}

h1 {
    font-family: helvetica neue;
    font-weight: bold;
    font-size: 8px;
    position: absolute;
    left: 5vw;
    top: 1vw;


}

h2 {
    font-family: helvetica neue;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
    left: 5vw;
    top: 2.5vw;
}

h3 {
    font-family: helvetica nue;
    color: #ffff;
    font-weight: regular;
    font-size: 40px;
    position: absolute;
    top: -5vw;
    left: 15vw;
    width: 50vw;
}

h4 {
    font-family: helvetica nue;
    color: #ffff;
    font-weight: regular;
    font-size: 25px;
    position: absolute;
    top: 6vw;
    left: vw;
    width: 50vw;
}

h5 {
    font-family: helvetica nue;
    color: #ffff;
    font-weight: regular;
    font-size: 30px;
    position: absolute;
    top: 2vw;
    left: 35vw;
    width: 50vw;
}

h6 {
    font-family: helvetica nue;
    color: #ffff;
    font-weight: regular;
    font-size: 25px;
    position: absolute;
    top: 1vw;
    left: 70vw;
    width: 50vw;
}



p {
    font-family: helvetica neue;
    font-weight: 400;
    font-size: 16px;
    left: 5vw;
    position: absolute;
    left: 5vw;
    top: 3vw;
}

.dot {
    position: absolute;
    left: 31vw;
    top: 23vw;
    height: 5vw;
    width: 5vw;
    background-color: #FFFFFF;
    border-radius: 50%;

}

.venstre_pil {
    background-image: url(venstre_pil.png);
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    top: 24vw;
    left: 32vw;
    position: absolute;
    z-index: 2;
}

.dot2 {
    position: absolute;
    left: 66vw;
    top: 23vw;
    height: 5vw;
    width: 5vw;
    background-color: #FFFFFF;
    border-radius: 50%;

}

.right_pil {
    background-image: url(right_pil.png);
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    top: 24vw;
    left: 67.6vw;
    position: absolute;
    z-index: 2;
}

.white-box1 {
    position: absolute;
    z-index: 1;
    top: 100vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}


.white-box2 {
    position: absolute;
    top: 86vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.white-box3 {
    position: absolute;
    top: 72vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.white-box4 {
    position: absolute;
    top: 58vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.white-box5 {
    position: absolute;
    top: 44vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.white-box6 {
    position: absolute;
    top: 30vw;
    left: 4vw;
    width: 530px;
    height: 70px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.blue_trekant1 {
    background-image: url(trekant.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 70px;
    position: absolute;
    z-index: 1;
    top: vw;
    left: 53.3vw;

}

.blue_trekant2 {
    background-image: url(trekant.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 69px;
    position: absolute;
    z-index: 1;
    top: 0.1vw;
    left: 53.3vw;

}

.gul_trekant1 {
    background-image: url(trekant_gul.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 69px;
    position: absolute;
    z-index: 1;
    top: 0.2vw;
    left: 54.1vw;

}

.gul_trekant2 {
    background-image: url(trekant_gul.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 69px;
    position: absolute;
    z-index: 1;
    top: 0.2vw;
    left: 54.1vw;

}

.gul_trekant3 {
    background-image: url(trekant_gul.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 69px;
    position: absolute;
    z-index: 1;
    top: 0.1vw;
    left: 54.1vw;

}

.red_trekant {
    background-image: url(trekant_red.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 69px;
    position: absolute;
    z-index: 1;
    top: 0.1vw;
    left: 53.3vw;

}



/***********************Skema slut*******************/

/***********************Modul start*******************/
/***********************Modul slut*******************/
