/***********************Generelt startt*******************/

body {
    width: 375;
    height: 667px;
    border: 0vw;
}

/***********************Generelt slut*******************/

/*********************index start*********************/
/*********************index slut*********************/

/***********************home start*******************/
/***********************home slut*******************/

/***********************Menu start*******************/
/***********************Menu slut*******************/


/***********************Skema start*******************/
/***********************Skema slut*******************/

/***********************Modul start*******************/
/***********************Modul slut*******************/
